@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');
:root{
    --bc: #f8f9fa
} 
body{
    margin: 0;
    
}
h1, p, th{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
